
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
  }
  
   /* color mode toggle in body */
  body {
    font-family: Georgia, serif ;
    font-size: 16px;
    font-weight: 400;
  }
   
  
  a {
    text-decoration: none;
  }
  
  button {
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
  }
  
   /* theme toggle button */
  .theme-toggle-btn {
    background-color: #ffffff;
    position: fixed;
    right: 0;
    top: 20px;
    width: 48px;
    height: 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: 0;
    z-index: 999;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .theme-icon {
      width: 24px;
    }
  
  .page-wrapper {
    background-color: #fafafa;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .content-wrapper {
    background-color: #fafafa;
    min-height: 100vh;
    padding: 50px 50px;
    margin-left: 260px;
  
    @media (max-width: 1400px) {
      padding: 32px;
    }
  
    @media (max-width: 1200px) {
      margin-left: 56px;
    }
  
    @media (max-width: 768px) {
      margin-left: 0;
      padding: 24px;
    }
  
    @media (max-width: 576px) {
      margin-left: 0;
      padding: 16px;
    }
  }
  
   /* content */
  .content-area {
    & > section {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }